.channel-list-container {
    background-color: var(--bg-dark);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.no-channels {
    font-size: 24px;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.create-channel {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    background: var(--bg);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    border: none;
    display: flex;
    justify-content: center;
}

.create-channel:hover {
    background: var(--highlight);
}

.channel-list {
    margin-top: 5px;
    overflow-y: scroll;
}

.channel-list-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background: var(--bg);
    color: var(--text-muted);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-break: break-word;
}

.channel-actions {
    color: var(--bg);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    background-color: var(--text-muted);
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline: 10px;
}

.channel-list-link:hover {
    background: var(--highlight);
    color: var(--text);
}

@media (max-width: 768px) {
    .no-channels {
        font-size: 20px;
    }

    .create-channel {
        font-size: 14px;
        padding: 4px;
        margin: 4px;
    }

    .channel-list-link {
        font-size: 20px;
        padding: 4px;
        margin: 4px;
        margin-bottom: 0px;
    }

    .channel-actions {
        gap: 4px;
        font-size: 12px;
        padding: 4px;
        margin-inline: 10px;
    }
}

@media (max-width: 480px) {
    .channel-list-container {
        padding-top: 4px;
    }

    .no-channels {
        font-size: 18px;
    }

    .create-channel {
        font-size: 14px;
        padding: 3px;
        margin: 3px;
    }

    .channel-list {
        margin-top: 4px;
    }

    .channel-list-link {
        font-size: 18px;
        padding: 3px;
        margin: 3px;
        margin-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
    }

    .channel-actions {
        gap: 3px;
        font-size: 10px;
        padding: 3px;
        margin-inline: 10px;
        margin-top: 0px;
    }
}

@media (max-width: 320px) {
    .no-channels {
        font-size: 16px;
    }

    .create-channel {
        font-size: 12px;
        padding: 2px;
        margin: 2px;
    }

    .channel-list-link {
        font-size: 16px;
        padding: 2px;
        margin: 2px;
    }

    .channel-actions {
        gap: 2px;
        font-size: 10px;
        padding: 2px;
        margin-inline: 4px;
    }
}
