.channel-list-container {
    background-color: var(--bg-dark);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.no-channels {
    font-size: 24px;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.create-channel {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    background: var(--bg);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    border: none;
    display: flex;
    justify-content: center;
}

.create-channel:hover {
    background: var(--highlight);
}

.channel-list {
    margin-top: 5px;
    overflow-y: scroll;
}

.channel-list-link {
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background: var(--bg);
    color: var(--text-muted);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 0px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channel-actions {
    color: var(--bg);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    background-color: var(--text-muted);
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-inline: 10px;
}

.channel-list-link:hover {
    background: var(--highlight);
    color: var(--text);
}
