.channel-list-container {
    background-color: var(--bg-dark);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.no-channels {
    font-size: 24px;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.create-channel {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    background: var(--bg);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    border: none;
    display: flex;
    justify-content: center;
}

.create-channel:hover {
    background: var(--highlight);
}

.channel-list {
    margin-top: 5px;
    overflow-y: scroll;
}

.channel-list-item {
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background: var(--bg);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.channel-list-item-link {
    text-decoration: none;
    color: var(--text);
}

.channel-list-item:hover {
    background: var(--highlight);
}
