.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    padding-left: 15px;
}

.nav-bar-title {
    color: var(--bg);
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

.icon {
    color: var(--bg);
    font-size: 24px;
}
