.channel-sidebar {
    width: 25%;
    height: 100%;
    background-color: var(--bg-dark);
    border-right: 1px solid var(--border-muted);
    overflow-y: scroll;
}

.channel-sidebar-title {
    font-size: 24px;
    color: var(--text);
    padding: 3px;
    text-align: center;
    background: var(--gradient);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border-muted);
}

.loading-channels {
    font-size: 32px;
    color: var(--warning);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.error-channels {
    font-size: 32px;
    color: var(--danger);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90%;
}
