@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.HomeScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
}

.home-title-container {
    color: var(--text);
    padding: 10px;
    background: var(--gradient);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-title {
    font-size: 48px;
    color: var(--text);
}

.create-workspace-icon {
    font-size: 48px;
    color: var(--text);
    padding: 10px;
}

.create-workspace-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 48px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    color: var(--text);
    font-size: 32px;
}

.workspace {
    background: var(--gradient);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    color: var(--text-muted);
    border: 1px solid var(--border);
    border-top: 2px solid var(--highlight);
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workspace-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workspace-name {
    color: var(--text);
    margin: 5px;
}

.workspace-link {
    text-decoration: none;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: var(--bg-dark);
    border: 1px solid var(--border);
}

.workspace-link:hover {
    background-color: var(--text-muted);
    color: var(--bg-dark);
}

.workspaces-container {
    overflow-x: scroll;
    height: 100%;
}

.no-workspaces {
    font-size: 32px;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.workspace-actions {
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.edit-workspace-button {
    background: none;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.delete-workspace-button {
    background: none;
    color: var(--text);
    border: none;
    cursor: pointer;
}
