@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
/*     
--gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
UI Colors: 0.2 - 100
*/
/* :root {
    --bg-dark: oklch(40% 0.101 74.6);
    --bg: oklch(49.51% 0.101 74.6);
    --bg-light: oklch(78.78% 0.126 90.22);
    --text: oklch(93.17% 0.107 96.51);
    --text-muted: oklch(73.17% 0.107 96.51);
    --highlight: oklch(50% 0.107 96.51);
    --border: oklch(40% 0.107 96.51);
    --border-muted: oklch(30% 0.107 96.51);
    --primary: oklch(89.72% 0.121 95.94);
    --secondary: oklch(89.72% 0.121);
    --danger: oklch(0.7 0.06 30);
    --warning: oklch(0.7 0.06 100);
    --success: oklch(0.7 0.06 160);
    --info: oklch(0.7 0.06 260);
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
} */
:root {
    --bg-dark: oklch(0.1 0.01 100);
    --bg: oklch(0.2 0.1 100);
    --bg-light: oklch(0.3 0.1 100);
    --text: oklch(0.96 0.01 100);
    --text-muted: oklch(0.76 0.25 100);
    --highlight: oklch(0.5 0.2 100);
    --border: oklch(0.4 0.2 100);
    --border-muted: oklch(0.3 0.2 100);
    --primary: oklch(0.85 0.2 100);
    --secondary: oklch(0.76 0.2 280);
    --danger: oklch(0.7 0.2 30);
    --warning: oklch(0.7 0.2 100);
    --success: oklch(0.7 0.2 160);
    --info: oklch(0.7 0.2 260);
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
}
